@media (min-width:1024px) and (max-height: 1024px) {
    body {
        height: auto;
        max-width: 1224px;
        overflow-x: hidden;
        display: grid;
        margin: auto;
    }

    header {
        position: relative;
        grid-row-start: 1;
        grid-template-columns: 10% 90%;
        grid-auto-rows: 50px;
        padding: 20px 10px;
    }

    main {
        margin-top: 0;
    }

    .title-w {
        padding-top: 5px;
        width: auto;
    }

    .menu-button{
        display: none;
    }

    .off {
        display: block;
        
    }

    .off ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        gap: 30px;
    }

    .off a{
        font-size: .9em;
        margin-left: 0;
        color: hsl(233, 8%, 79%);
    }

    main {
        width: 100%;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 20px;
    }

    .main-content {
        display: grid;
    }

    .main-content {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 1;
    }

    .banner {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 20px;
    }

    .main-content h1 {
        width: 100%;
        font-size: 3em;
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .main-content p {
        font-size: 1em;
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .main-content button{
        grid-row-start: 3;
        grid-column-start: 2;
        margin-top: -100px;
    }

    .extra-content {
        grid-column-start: 2;
        grid-row-start: 0;
        grid-row-end: 1;
    }

    .more-content {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    .more-content ul{
        margin-top: 50px;
        gap: 20px;
        display: flex;
        flex-direction: row;
    }

    .more-content li{
        width: 33%;
    }

    footer {
        display: none;
    }
}

@media (min-width:768px) and (min-height:1024px) {
    .title-w,
    .menu-button{
        margin: 20px 0;
        height: 40px;
        width: 50px;
    }

    .banner {
        height: 500px;
    }

    .main-content h1 {
        margin: 20px 0;
        font-size: 2.2em;
    }

    .main-content p {
        font-size: 1.1em;
    }

    .main-content button {
        font-size: 1.2em;
        width: 250px;
        height: 70px;
        margin-bottom: 50px;
    }

    .img-more-option {
        width: 150px;
        height: 200px;
    }
    
    .more-content span {
        font-size: 2.2em;
    }

    .more-content h3 {
        font-size: 1.1em;
    }

    .more-content p {
        font-size: .8em;
    }

}

@media (max-width: 468px) {
    .msg.on {
        font-size: .8em;
        width: 300px;
        transform: translate(-90%, -50%);
    }

    
.msg.on:hover {
    padding: 42px 12px 42px 12px;
    font-size: .8em;
    height: 105px;
    transition: .5s;
}
}


