/* set Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*font import and variable*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --main-orange-color: hsl(35, 77%, 62%);
    --main-red-color: hsl(5, 85%, 63%);
    --main-light-color: hsl(36, 100%, 99%);
    --main-darkgray-color: hsl(233, 8%, 79%);
    --main-normaldark-color: hsl(236, 13%, 42%);
    --main-extremedark-color: hsl(240, 100%, 5%);
}

/*main Styles*/

body{
    height: 100vh;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: white;
    position: fixed;
    display: grid;
    grid-template-columns: 80vw 40px;
}

.menu-button,
.title-w{
    width: 40px;
    grid-row-end: 1;
    margin: 15px 0;
}

.title-w {
    grid-column: 1;
    height: 30px;
}

.menu-button {
    grid-template-columns: 40px;
    height: 40px;
    grid-column: 2;
    z-index: 1;
}

.on{
    width: 100%;
    box-shadow: -160px 0 rgba(0, 0, 0, 0.459);
    background-color: var(--main-light-color);
    height: 100vh;
    margin-left: 120px;
    padding-top: 100px;
    position: fixed;
}

.on li{
    margin: 50px;
    padding: 5px 20px;
    padding-right: 200px;
}

.off .selected,
.off .select,
.on a{
    color: var(--main-extremedark-color);
    font-size: 1.2em;
    padding: 4px 2px 10px;
    font-weight: 700;
}

.off{
    display: none;
}

.off .selected {
    color: var(--main-red-color);
    border-bottom: 2px solid var(--main-red-color);
}

nav .select:hover{
    border-bottom: 2px solid var(--main-orange-color);
    color: var(--main-red-color);
}

.menu-button:hover{
    transition: 1s;
    transform: scale(1.1);
    cursor: pointer;
}

.msg.off {
    display: none;
}

.msg.on {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    color: var(--main-light-color);
    padding: 40px 10px;
    background-color:var(--main-normaldark-color);
    height: 100px;
    font-weight: 700;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid var(--main-extremedark-color-color);
    text-transform: capitalize;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.463);
    letter-spacing: 2px;
    width: 350px;
}

.msg.on:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.463);
    font-size: 1em;
    padding: 42px 12px;
    height: 105px;
    transition: .5s;
}

main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: calc(80vw + 40px);
}

.main-content h1{
    font-weight: 800;
    font-size: 2em;
    color: var(--main-extremedark-color);
    margin-bottom: 15px;
}

.banner{
    width: 100%;
    height: 300px;
}

.banner:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.463);
}

.main-content p{
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 28px;
    color: var(--main-normaldark-color);
}

.main-content button{
    color: var(--main-light-color);
    background-color:var(--main-red-color);
    box-shadow: 1px 1px 5px var(--main-extremedark-color);
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
}

.main-content button:hover{
    background-color: var(--main-extremedark-color);
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.316);
    cursor: pointer;
}

.extra-content{
    background-color:var(--main-extremedark-color);
    padding: 20px;
    margin-bottom: 15px;
}

.extra-content:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.463);
}

.extra-content h2{
    color:var(--main-orange-color);
    font-size: 1.6em;
    font-weight: 800;
}

.extra-content h3{
    color:var(--main-light-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 25px 0px 15px;
}

.extra-content h3:hover{
    color: var(--main-orange-color);
    cursor: pointer;
}

.extra-content p{
    color: var(--main-light-color);
    font-size: 1em;
    font-weight: 400;   
}

.extra-content .borde-botton{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main-light-color);
}

.more-content ul{
    display: flex;
    flex-direction: column;
}

.more-content span{
    font-size: 2em;
    color: var(--main-normaldark-color);
    margin-bottom:10px;
}

.more-content h3{
    color: var(--main-extremedark-color);
    font-weight: 700;
    font-size: .9em;
    margin-bottom: 10px;
}

.more-content h3:hover{
    cursor: pointer;
    color: var(--main-red-color);
}

.img-more-option{
    border-radius: 5px;
    width: 100px;
    height: 130px;
    margin-right:20px;
    float: left;
}

.img-more-option:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.281);
}

.more-content p{
    font-weight: 400;
    font-size: .6em;
}

.more-content li{
    margin-bottom: 25px;
}

footer{ 
    padding: 10px;
    width: 100%;
    background-color: var(--main-normaldark-color);
    font-size: .8em;
}

footer div,
footer a{
    color: var(--main-light-color);
    font-size: .8em;
    text-align: center;
}

footer a:hover{
    color: var(--main-orange-color);
}